# ide
.idea/
.vscode/

# node

node_modules/

# front dist
dist/build/app.js
dist/build/background.js
dist/build/bbrowser.js

# What a shame. it's OSX
.DS_Store

releases/
build/

MYREADME.md
mv_to_opt.sh
package-lock.json
