@font-face {
  font-family: 'iconcoon';
  src:
    url('coon/iconcoon.ttf?kywj38') format('truetype'),
    url('coon/iconcoon.woff?kywj38') format('woff'),
    url('coon/iconcoon.svg?kywj38#iconcoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="coon-"], [class*=" coon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconcoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.coon-lens:before {
  content: "\e925";
}
.coon-cylinder:before {
  content: "\e924";
}
.coon-bucket:before {
  content: "\e918";
}
.coon-play-right:before {
  content: "\e919";
}
.coon-underscore:before {
  content: "\e91a";
}
.coon-table:before {
  content: "\e91b";
}
.coon-file-outline:before {
  content: "\e91c";
}
.coon-size:before {
  content: "\e900";
}
.coon-alert-circle:before {
  content: "\e954";
}
.coon-alert-triangle:before {
  content: "\e955";
}
.coon-anchor:before {
  content: "\e92a";
}
.coon-archive:before {
  content: "\e92b";
}
.coon-award:before {
  content: "\e92c";
}
.coon-bell:before {
  content: "\e956";
}
.coon-bell-off:before {
  content: "\e957";
}
.coon-book:before {
  content: "\e92d";
}
.coon-box:before {
  content: "\e92e";
}
.coon-briefcase:before {
  content: "\e92f";
}
.coon-calendar:before {
  content: "\e930";
}
.coon-camera:before {
  content: "\e931";
}
.coon-check-circle:before {
  content: "\e91d";
}
.coon-check-square:before {
  content: "\e901";
}
.coon-chevron-right:before {
  content: "\e902";
}
.coon-circle:before {
  content: "\e91e";
}
.coon-clock:before {
  content: "\e903";
}
.coon-cloud-lightning:before {
  content: "\e932";
}
.coon-code:before {
  content: "\e904";
}
.coon-cpu:before {
  content: "\e933";
}
.coon-database:before {
  content: "\e934";
}
.coon-droplet:before {
  content: "\e958";
}
.coon-edit:before {
  content: "\e935";
}
.coon-external-link:before {
  content: "\e91f";
}
.coon-eye:before {
  content: "\e905";
}
.coon-eye-off:before {
  content: "\e906";
}
.coon-feather:before {
  content: "\e936";
}
.coon-file:before {
  content: "\e920";
}
.coon-file-plus:before {
  content: "\e907";
}
.coon-file-text:before {
  content: "\e908";
}
.coon-film:before {
  content: "\e937";
}
.coon-flag:before {
  content: "\e938";
}
.coon-folder:before {
  content: "\e909";
}
.coon-folder-plus:before {
  content: "\e90a";
}
.coon-gift:before {
  content: "\e939";
}
.coon-github:before {
  content: "\e921";
}
.coon-globe:before {
  content: "\e922";
}
.coon-hard-drive:before {
  content: "\e93a";
}
.coon-headphones:before {
  content: "\e93b";
}
.coon-heart:before {
  content: "\e93c";
}
.coon-home:before {
  content: "\e93d";
}
.coon-image:before {
  content: "\e90b";
}
.coon-inbox:before {
  content: "\e93e";
}
.coon-info:before {
  content: "\e90c";
}
.coon-list:before {
  content: "\e90d";
}
.coon-lock:before {
  content: "\e90e";
}
.coon-mail:before {
  content: "\e926";
}
.coon-map:before {
  content: "\e93f";
}
.coon-map-pin:before {
  content: "\e940";
}
.coon-menu:before {
  content: "\e90f";
}
.coon-message-circle:before {
  content: "\e941";
}
.coon-minus:before {
  content: "\e927";
}
.coon-monitor:before {
  content: "\e942";
}
.coon-moon:before {
  content: "\e943";
}
.coon-more-vertical:before {
  content: "\e923";
}
.coon-music:before {
  content: "\e944";
}
.coon-package:before {
  content: "\e945";
}
.coon-paperclip:before {
  content: "\e946";
}
.coon-phone-call:before {
  content: "\e947";
}
.coon-plus:before {
  content: "\e928";
}
.coon-refresh-cw:before {
  content: "\e948";
}
.coon-save:before {
  content: "\e959";
}
.coon-search:before {
  content: "\e910";
}
.coon-send:before {
  content: "\e949";
}
.coon-server:before {
  content: "\e94a";
}
.coon-settings:before {
  content: "\e94b";
}
.coon-share-2:before {
  content: "\e929";
}
.coon-shield:before {
  content: "\e94c";
}
.coon-shopping-cart:before {
  content: "\e94d";
}
.coon-sidebar:before {
  content: "\e95a";
}
.coon-square:before {
  content: "\e911";
}
.coon-star:before {
  content: "\e912";
}
.coon-sun:before {
  content: "\e94e";
}
.coon-tag:before {
  content: "\e913";
}
.coon-terminal:before {
  content: "\e94f";
}
.coon-trash-2:before {
  content: "\e914";
}
.coon-truck:before {
  content: "\e950";
}
.coon-tv:before {
  content: "\e951";
}
.coon-type:before {
  content: "\e95b";
}
.coon-unlock:before {
  content: "\e915";
}
.coon-video:before {
  content: "\e952";
}
.coon-x:before {
  content: "\e916";
}
.coon-x-circle:before {
  content: "\e917";
}
.coon-zap:before {
  content: "\e953";
}
