<main id="main-editor">
	<title-bar
		:reduce-to-tray="reduceToTray"
		:is-full-screen="isFullScreen"
		:show-menu-bar="true"
		:notes-display-order="notesDisplayOrder"
		:is-toolbar-enabled="isToolbarEnabled"
		:is-full-width-note="isFullWidthNote"
		:current-theme="currentThemeAsString"
		:library-path="libraryPath" />
	<div class="my-main">
		<div class="outer_wrapper">
			<div class="sidebar">
				<div v-show="loadedRack" class="cell-container" ref="sidebarFolders">
					<div class="my-shelf">
						<buckets-special
							:show-history="showHistory" />
						<buckets
							:show-all="showAll"
							:show-favorites="showFavorites"
							:editing-folder="editingFolder"
							:is-full-screen="isFullScreen"
							:search="search"
							ref="refBuckets" />
					</div>
				</div>
				<handler-stack
					v-show="loadedRack"
					:sidebar-drag="sidebarDrag"
					:sidebar-drag-end="sidebarDragEnd"
					ref="refHandleStack" />
				<div v-show="selectedFolder || showAll || showFavorites || showHistory" class="cell-container" ref="sidebarNotes">
					<div class="my-shelf-banner" v-show="selectedFolder">Notes
						<add-note />
					</div>
					<div class="my-shelf-notes" :class="{ 'expand-notes': showAll || showFavorites || showHistory }" ref="refNotes">
						<notes
							v-show="selectedRack || showHistory"
							:notes="filteredNotes"
							:show-history="showHistory"
							:notes-display-order="notesDisplayOrder" />
					</div>
				</div>
				<handler-notes
					v-show="selectedFolder || showAll || showFavorites || showHistory"
					:sidebar-drag="sidebarDrag"
					:sidebar-drag-end="sidebarDragEnd"
					ref="refHandleNote" />
			</div>
			<div class="cell-container main-cell-container" :class="mainCellClass">
				<tabs-bar :tabs-array="noteTabs" />
				<note-menu
					v-if="isNoteSelected || isOutlineSelected"
					:is-full-screen="isFullScreen"
					:is-toolbar-enabled="isToolbarEnabled"
					:is-note-selected="isNoteSelected"
					:is-outline-selected="isOutlineSelected"
					:is-preview="isPreview"
					:use-monospace="useMonospace"
					:fontsize="fontsize" />
				<theme-menu
					v-else-if="isThemeSelected"
					:theme="editTheme"
					:is-toolbar-enabled="isToolbarEnabled" />
				<div v-if="showNoteContainer" class="main-note-container">
					<div class="my-editor" ref="myEditor">
						<outline v-if="isOutlineSelected" />
						<theme-editor
							v-else-if="isThemeSelected"
							:theme="editTheme" />
						<template v-else>
							<codemirror
								v-show="!isPreview && isNoteSelected"
								:is-full-screen="isFullScreen"
								:is-preview="isPreview"
								:search="search"
								:use-monospace="useMonospace"
								ref="refCodeMirror" />
							<div v-show="isPreview && isNoteSelected" class="my-editor-preview" @contextmenu.prevent.stop="previewMenu()">
								<div v-html="preview" />
							</div>
						</template>
					</div>
				</div>
				<note-footer
					v-if="isNoteSelected && !isOutlineSelected"
					v-show="!isPreview && isToolbarEnabled" />
				<flashmessage :messages="messages" />
			</div>
		</div>
	</div>
	<modal ref="dialog" />
</main>
