<main id="main-editor">
	<title-bar v-if="title"
		:reduce-to-tray="reduceToTray"
		:show-menu-bar="menuBar"
		:window-title="title" />
	<div class="my-main" :class="{ 'no_menu' : !menuBar }">
		<div class="outer_wrapper">
			<div class="popup-simple" v-if="type == 'simple'" v-html="message" />
			<div class="popup-simple" v-if="type == 'input-text'">
				<input-text
					:placeholder="inputPlaceholder"
					:required="inputRequired"
					:buttons="inputButtons"
					:alphanumeric-only="alphanumericOnly"
					:default-data="inputDefault" />
			</div>
			<div class="popup-simple" v-if="type == 'about'">
				<about />
			</div>
		</div>
	</div>
</main>
