#main-editor {
	width: 100%;
	height: 100%;
}

#main-editor.blur:after {
	content: "";
	cursor: default;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	z-index: 100;
	opacity: 0.5;
}

.my-main {
	width: 100%;
	height: calc( 100vh - 2px );
	display: flex;
	flex-flow: row nowrap;
}

.outer_wrapper {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;

	.popup-simple {
		display: flex;
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 1em;
		font-size: 120%;

		a {
			outline: none;
		}
	}

	.cell-container {
		height: calc( 100vh );
		vertical-align: top;
	}

	.cell-container > .my-shelf-folders > .my-shelf {
		height: calc( 100vh - 3.7em );
	}

	.cell-container.main-cell-container {
		margin-left: 0;
		padding-left: 2.4em;
		padding-right: 2.4em;
		transition: margin 400ms;
	}

	.cell-container.main-cell-container.browser-open {
		padding-left: 0;
		padding-right: 0;
	}

	.main-note-container {
		position: relative;
		height: calc( 100vh - #{ $outside-note-height } );
		box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	}

	.full-note .main-note-container {
		height: calc( 100vh - #{ $outside-note-height } );
	}

	.tabs-open .main-note-container {
		height: calc( 100vh - #{ $title-bar-height + $note-bar-height * 2 } - 0.4em );
	}

	.full-note.tabs-open .main-note-container {
		height: calc( 100vh - #{ $title-bar-height + $note-bar-height * 2 } );
	}

	.my-shelf-folders-outer {
		height: calc( 100% - #{ $action-bar-height } - 1em );
	}

	.sidebar, .fixed-sidebar {
		position: absolute;
		top: 0;
		z-index: 10;

		.cell-container {
			float: left;
			overflow: hidden;
		}
	}

	.sidebar {
		left: 0;
		margin-left: 0;
		transition: left 400ms;
	}

	.sidebar:after {
		content: "";
		display: block;
		clear: both;
	}

	.resize-handler {
		float: left;
		height: 100vh;
		width: 4px;
		cursor: col-resize;
	}

	.my-editor {
		width: auto;
		margin: 0 auto;
		height: 100%;
		position: relative;
	}

	.browser-open {
		overflow: hidden;
	}

	.idle-library-container {
		display: flex;
		justify-content: flex-end;
		align-items: stretch;
		padding: 2.4rem 0;
		height: auto;
		max-height: 80vh;
	}

	.idle-library-container > div {
		padding: 1rem;
		opacity: 0.6;
		transition: opacity .25s ease;
		cursor: default;
		user-select: none;
		max-width: 475px;
		line-height: 1.6;
	}

	.idle-library-container > div + div {
		margin-left: 2rem;
	}

	.idle-library-container a {
		color: inherit;
	}

	.idle-library-container table {
		max-width: 40vw;
	}

	.idle-library-container table td {
		word-break: break-word;
	}

	.idle-library-container strong {
		padding: 0 .1rem;
	}

	.idle-library-container > div:hover {
		opacity: 1.0;
	}

	.idle-library-container button {
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
		border: none;
		outline: none;
		background-color: transparent;
	}

	.idle-library-container button i {
		display: block;
		font-size: 42pt;
		line-height: 1;
		margin-bottom: 1rem;
	}
}
