.codemirror-monospace .CodeMirror {
	h1, h2, h3, h4, h5, p, span, input, textarea {
		font-family: $monospace-font-family;
	}
}

.CodeMirror {
	text-rendering: optimizeSpeed;
	height: 100% !important;

	span.cm-m-markdown.cm-epy-hr {
		display: block;
		line-height: 0.8em !important;
	}

	.cm-epy-em {font-style: italic;}

	.cm-epy-strikethrough {
		text-decoration: line-through;
	}

	pre.CodeMirror-placeholder {
		color: rgba(153, 153, 153, 0.8);
	}

	span.cm-epy-list1,
	span.cm-epy-list2,
	span.cm-epy-list3 {
		color: inherit;
	}

	span.cm-epy-formatting-list-ul,
	span.cm-epy-formatting-list-ol {
		font-weight: bold;
		color: #777 !important;
	}

	span.cm-epy-formatting-task {
		font-weight: 600;
		font-family: monospace;
	}

	span.cm-meta {
		font-style: normal;
	}

	span.cm-keyword {
		font-weight: bold;
	}

	span.cm-def {
		font-weight: bold;
	}

	pre > code{
		display: block;
		line-height: 0;
		width: 100%;
	}

	span.cm-epy-image {
		font-weight: 800;
		font-family: monospace;
	}

	.cm-epy-link,
	.cm-epy-link-href:not(.cm-epy-formatting) {
		text-decoration: underline;
	}

	.cm-epy-link-text {
		font-weight: 800;
		font-family: monospace;
	}

	.cm-searching {
		border: 1px solid rgba(195, 195, 92, 0.5);
		background-color: rgba(255, 255, 0, .5);
		color: #333;
	}

	.cm-epy-formatting-list.cm-epy-formatting-list-ul.cm-epy-list1,
	.cm-epy-formatting-strong.cm-epy-strong,
	.cm-epy-formatting-em.cm-epy-em {
		color: #4a66b9 !important;
	}

	.cm-epy-formatting-strong.cm-epy-strong,
	.cm-epy-formatting-em.cm-epy-em {
		font-size: 90% !important;
	}

	.image-widget {
		width: auto;
		display: inline-block;
		max-width: 100%;
		border: 1px solid #999;
		background-color: #fafafa;
		padding: 0.3em;
		margin: 0.3em 0 0.5em;
		text-align: center;
		user-select: none;
		line-height: 0;

		img {
			display: inline-block;
			cursor: pointer;
			max-width: 256px;
			max-height: 128px;
			margin: 0;
		}
	}
}

.CodeMirror-focused .CodeMirror-selected { background: #add5ff; }

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #add5ff; }

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #add5ff; }

/* Search dialog */

.CodeMirror.dialog-opened {
	padding-bottom: 3em;
}

.CodeMirror-dialog.CodeMirror-dialog-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.4em;
	line-height: 1.5em;
	z-index: 6;

	.CodeMirror-search-field {
		border: none;
		outline: none;
		padding: 0.4em;
		width: 100%;
		display: block;
		float: left;
	}

	button {
		display: none;
	}
}
