.font10 {
	.my-editor {
		.CodeMirror-code,
		.CodeMirror-lines span:not(.cm-epy-header),
		.my-editor-preview > div{
			font-size: 10px;
			line-height: 1.5em;
		}
	}
}

.font12 {
	.my-editor {
		.CodeMirror-code,
		.CodeMirror-lines span:not(.cm-epy-header),
		.my-editor-preview > div{
			font-size: 12px;
			line-height: 1.5em;
		}
	}
}

.font14 {
	.my-editor {
		.CodeMirror-code,
		.CodeMirror-lines span:not(.cm-epy-header),
		.my-editor-preview > div{
			font-size: 14px;
			line-height: 1.5em;
		}
	}
}

.font15 {
	.my-editor {
		.CodeMirror-code,
		.CodeMirror-lines span:not(.cm-epy-header),
		.my-editor-preview > div{
			font-size: 15px;
			line-height: 1.5em;
		}
	}
}

.font16 {
	.my-editor {
		.CodeMirror-code,
		.CodeMirror-lines span:not(.cm-epy-header),
		.my-editor-preview > div{
			font-size: 16px;
			line-height: 1.5em;
		}
	}
}

.font18 {
	.my-editor {
		.CodeMirror-code,
		.CodeMirror-lines span:not(.cm-epy-header),
		.my-editor-preview > div{
			font-size: 18px;
			line-height: 1.5em;
		}
	}
}

.font20 {
	.my-editor {
		.CodeMirror-code,
		.CodeMirror-lines span:not(.cm-epy-header),
		.my-editor-preview > div{
			font-size: 20px;
			line-height: 1.5em;
		}
	}
}

.font24 {
	.my-editor {
		.CodeMirror-code,
		.CodeMirror-lines span:not(.cm-epy-header),
		.my-editor-preview > div{
			font-size: 24px;
			line-height: 1.5em;
		}
	}
}
