.my-shelf-buckets, .my-shelf-folders {
	padding: 0 0.1em;
}

.my-shelf-buckets {
	.my-shelf-rack {
		margin: 0.5em 0;
	}
}

.my-shelf-buckets:nth-child(2) {
	padding-bottom: 2em;
}

.my-shelf-buckets.fixed-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	.my-shelf-rack {
		position: relative;
	}

	.my-shelf-rack:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		height: 2em;
		top: -2em;

		pointer-events: none;

		-webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.67) 67%, white 100%);
	}
}

.my-shelf-buckets:last-child .my-shelf-rack:last-child {
	margin-bottom: 0;
}

.my-shelf-rack.noCursor .rack-object {
	cursor: default;
}

.my-shelf-folder > hr {
	margin: 1em 0.5em;
	opacity: 0.2;
}

.my-shelf, .my-shelf-folders-outer {
	font-weight: 200;
	width: auto;
	height: 100%;
	overflow-y: scroll;
	margin-right: -0.5em;
	white-space: nowrap;
}

.my-shelf-folder-bucket {
	font-size: 110%;
	line-height: 1.4em;
	text-align: center;
	padding: 0.4em 0.2em 0.3em;
	margin-bottom: 0.1em;
	font-weight: bold;

	> i {
		font-size: 140%;
		vertical-align: middle;
		margin-top: -0.2em;
		margin-left: -0.2em;
		margin-right: 0.2em;
	}
}

.my-shelf-rack.disabled {
	opacity: 0.7;
	pointer-events: none;
}

.my-shelf-banner {
	font-size: 110%;
	line-height: 1.4em;

	margin: 0 0 0.5em;
	padding: 0.3em 0.2em 0.3em 0.7em;

	height: $action-bar-height;

	position: sticky;
	top: 0;
	z-index: 10;

	user-select: none;
	cursor: default;

	.link {
		float: right;
		cursor: pointer;
		margin-top: -0.1em;

		border-radius: $folder-list-border-radius;
		padding: 0.1em 0.2em;
	}
}

.rack-object,
.folder-object {
	position: relative;
	text-align: left;
	font-size: 110%;
	line-height: 1.4em;

	cursor: pointer;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	-webkit-user-select: none;
}

.folder-object {
	i.down {
		position: absolute;
		left: 0.1em;
		top: 0.75em;
		display: none;
		cursor: pointer;
		margin: 0;
		padding: 0;
		width: 1em;
		height: 1em;
		font-size: 90%;
		line-height: 1em;
		outline: none;
		transition: all .4s;
		opacity: 0.5;
	}

	input {
		width: 100%;
		font-size: inherit;
		padding: 0;
		margin: 0;
		background: transparent;
		outline: none;
		border: 0;
	}
}

.folder-object.openFolder {
	i.down {
		top: 0.7em;
	}
}

.rack-object {
	font-weight: bold;
	margin: 0;
	padding: 0.3em 0.2em;
	border-radius: $folder-list-border-radius;
	opacity: 1.0;
	text-align: left;
	width: 100%;

	input {
		width: 100%;
		margin-top: 0.8em;
		opacity: 1.0;
		position: relative;
		padding-left: 0.2em;
		padding-right: 0.2em;
		z-index: 1;
	}

	input {
		font-weight: bold;
	}

	a {
		display: block;
		box-sizing: border-box;
		font-size: 150%;
		line-height: 1em;
		vertical-align: middle;
		padding: 0;
		margin: 0 auto;
		text-align: left;
	}

	i.rack-icon {
		display: inline-block;
		font-size: 140%;
		margin-top: -0.05em;
		vertical-align: middle;
		color: inherit;
		opacity: 1.0;
		text-align: center;
	}

	i.rack-icon + a {
		display: inline-block;
		padding-left: 0.2em
	}
}

.rack-object + .my-shelf-folders {
	margin-top: 0.4em;
}

.rack-object.bucket-special {

	span {
		display: block;
		border: 0.1em dashed;
		height: 1.8em;
		text-align: center;
		font-size: 122.8%;
		margin: 0 auto;
		padding: 0.1em;
		border-radius: 0.3em;

		i.rack-icon {
			font-size: 170%;
			margin-top: 0;
			position: static;
		}
	}
}


.folder-object,
.my-shelf-folder-span {
	margin: 0;
	padding: 0.3em 0.2em 0.3em 1.1em;
	font-weight: normal;
	border-radius: $folder-list-border-radius;

	transition: background-color 200ms;
}

.my-shelf-folder-indent {
	padding-left: 0.7em;
}

.my-shelf-folder-indent + .my-shelf-folder-span {
	margin-top: 1em;
}

.rack-object.dragging {
	opacity: 0.5;
}

.folder-object.dragging {
	opacity: 0.4;
	background-color: transparent !important;
}

.folder-object.no-results {
	opacity: 0.5;
}

.my-shelf-rack.hiddenBucket {
	display: none;
}

.my-shelf-folder-badge {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 80%;
	line-height: 1.4em;
	padding: 0 0.2em 0 0.3em;
	min-width: 1.4em;
	margin: -0.1em 0 0 0.3em;
	opacity: 0.6;
}

.my-shelf-folder-badge:before {
	content: "";
	position: absolute;
	height: 1.4em;
	border-radius: 10em;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
}

.my-shelf-folder.isShelfSelected {
	display: block;
}

.my-shelf-folders .my-shelf-folders {
	background-color: rgba(0,0,0,0.05);
	padding-left: 1em;
	display: none;
}

.my-shelf-folder {
	position: relative;
	padding: 0;
	margin: 0;

	i {
		font-size: 100%;
		margin-top: -0.1em;
		margin-right: 0.1em;
		vertical-align: middle;
	}

	.my-shelf-folder-name {
		width: 100%;
		font-weight: normal;
	}

	.my-shelf-folder-name.no-name {
		opacity: 0.8;
	}

	span input {
		width: 48px;
		outline: none;
	}
}

.my-shelf-folder.my-all, .my-shelf-folder.my-favorites {

	a > i {
		margin-top: -0.2em;
	}

	.my-shelf-folder-badge {
		margin-top: -0.2em;
	}
}

.my-shelf-folder.isShelfSelected .folder-object,
.my-shelf-folder .folder-object:hover {

	i.down {
		opacity: 1.0;
	}
}

.my-shelf-folder.gotSubfolders > .folder-object {
	i.down {
		display: inline-block;
		transform: rotate(0deg);
	}
}

.my-shelf-folder.openFolder {
	> .my-shelf-folders {
		display: block;
	}

	> .folder-object {
		i.down {
			transform: rotate(90deg);
		}
	}
}

.new-folder {
	padding: 0.2em 0 0;
	height: 3.5em;

	.my-shelf-folder {
		background: transparent;
		position: static;
		margin: 0.3em;
		padding: 0.4em;
		border-radius: 0.2em;

		.folder-object {
			padding: 0;
			margin: 0;
			font-size: 14px;
			line-height: 1em;
		}

		i {
			font-size: 24px;
			line-height: 1em;
			vertical-align: middle;
			margin-top: -0.2em;
		}
	}

	.my-shelf-folder-name {
		display: block;
		padding-top: 0.3em;
	}	
}

.my-shelf-folder.sortInside > .folder-object,
.my-shelf-folder.isShelfSelected > .folder-object {
	opacity: 1.0;
}

.my-shelf-rack.sortUpper .rack-object:after,
.my-shelf-folder.sortUpper:after {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	z-index: 1;
	content: "";
	pointer-events: none;
}

.my-shelf-rack.sortLower .rack-object:after,
.my-shelf-folder.sortLower:after {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	z-index: 1;
	content: "";
	pointer-events: none;
}

.my-shelf-folder.sortLower.openFolder:after {
	display: none;
}

.my-shelf-folder.noteDragging {
	color: #fefefe;
}
